.product-card {
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 15px 0;
}

.product-card .thumbnail {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 20px;
    overflow: hidden;
}

.product-card .thumbnail img {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 !important;
}

.product-card p {
    margin: 0;
}
.product-card > .content {
    margin: 23px 15px 15px 130px;
}


@media only screen and (max-width : 600px) {
    .product-card .thumbnail {
        width: 90px;
        height: 90px;
        top: 25px;
    } 
    .product-card > .content {
        margin: 23px 15px 15px 115px;
    }
}