.page ~ .page {
    margin-top: 0;
}

#blog-post div,
#blog-post p {
    line-height: 1.5rem;
}

#blog-post img{
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    margin: 25px 0;
}

#blog-post h1,
#blog-post h2,
#blog-post h3,
#blog-post h4,
#blog-post h5 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 25px;
}

#blog-post h2 { font-size: 25px; }
#blog-post h3 { font-size: 20px; }
#blog-post h4 { font-size: 17px; }
#blog-post h5 { font-size: 16px; }