@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html {
  scroll-behavior: smooth;
}
html, body {
  font-family: 'Poppins', sans-serif;
  background-color:white; 
}

body.minimal {
  background-color: white;
}

.navbar-fixed {
  z-index: 99999;
}

.container {
  width: 90% !important;
}

.brand-logo > img {
  margin-top: 17px;
  height: 30px;
}

.padding-0 {
  padding: 0 !important;
}

.normal-text { font-size: 14px; text-transform: none;}

.feed-card .content, .page, .page-accent,
.page img, .ratings, .block,
.feed-head, .feed-user-avatar,
.feed-image-wrapper, .feed-footer,
.wrapper, .wrapper-top-bottom,
.main, .footer {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-card {
  max-width: 655px !important;
}
.feed-card-full {
  max-width: 100% !important;
}
.wrapper {
  padding-right: 50px;
  padding-left: 50px;
}
.nav-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}
.wrapper-top-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main, .footer {
  padding-left: 300px;
}

.banner-user-name > span::after,
.valign {
  top: 50%;
  transform: translateY(-50%);
}
.sidenav .login {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-border { border: none; }
.no-margin { margin: 0 !important; }

input.browser-default,
.sidenav input {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 14px;
}
input.browser-default,
.bio,  
.sidenav a.btn,
.sidenav input {
  max-width: 200px;
}


input.browser-default,
.sidenav input,
.sidenav .text { 
  width: 200px; line-height: 18px; 
  cursor: pointer;
}
.sidenav input:focus {
  outline: none;
}
.chip {
  border-radius: 0;
}

.feed-card {
  margin-bottom: 15px;
  border: 1px dashed #f2f2f2;

}
.feed-card .feed-card {
  border: none;
}
.feed-head {
  width: 100%;
  min-height: 80px;
}

.feed-head > p:nth-of-type(1),
.feed-user-avatar {
  position: absolute;
  top: 20px;
}
.feed-user-avatar {
  left: 20px;
  width: 10px;
  height: 10px;
  top: 25px;
}
.feed-border {
  border-left: 2px solid;
}

.feed-head > p { margin: 0; }

.feed-footer p,
.feed-head > p:nth-of-type(1){
  padding: 0 40px;
  line-height: 20px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  height: 40px;
}
.feed-head > p:nth-of-type(1) > span{
  font-size: 12px;
}

.feed-image-wrapper {
  overflow: hidden;
  max-height: 90vh;
  margin-bottom: 20px;
}
.materialboxed { width: 100%; }

.feed-card .content {
  padding: 25px;
  margin-top: -20px;
}

.page-accent {
  height: 176px;
  margin-bottom: -151px;
}
.page, .page p, .page h1,
.feed-card .content,
.feed-card .content p {
  font-size: 14px;
  color: #424242;
}
.page h1 { font-size: 30px ;}
.page label{
  color: #9e9e9e !important;
  font-size: 13px;
}

.page {
  max-width: 780px;
  margin: auto;
  box-shadow: none !important;
}
.page ~ .page {
  margin-top: -40px;
}
.page img {
  width: 100%;
  max-width: 100%;
}

.page > .content{
  padding: 45px 90px;
}
.content.sm {
  padding-top: 15px !important;
}

.feed-footer {
  padding-top: 25px;
}

.margin-auto {
  margin: 10px auto !important;
}
.table-of-contents {
  margin-top: 120px;
}
.table-of-contents a.active {
  border-left: 3px solid #ff9800;
  font-weight: bold;
}

.custom-input {
  box-sizing: border-box !important;
  width: 100% !important;
  background: #f6f8fa  !important;
  padding-left: 15px  !important;
  padding-right: 15px  !important;
  border-color: transparent !important;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125) !important; */
  box-shadow: none !important;
  appearance: none;
}
.ratings {width: 100%;}
.ratings > i {
  font-size: 17px;
}
.content > span {
  padding: 0 16px;
}
.content > .ratings > i {
  color: #ff9800 !important;
}
.glance th, .glance td {
  padding: 15px 20px;
}
.bid-offer {
  padding-left: 15px;
  border-left: 5px solid;
}
.bid-offer p {
  margin-bottom: -5px;
}

.main .wrapper.wrapper-top-bottom,
.main { min-height: calc(100vh - 64px);}
@media only screen and (max-width : 992px) {
  
  header, .main, footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .main .wrapper.wrapper-top-bottom,
  .main { min-height: calc(100vh - 64px);}
  .brand-logo > img {
    margin: 12px;
  }

  .minimal {
    background: white;
  }
  .minimal .page {
    box-shadow: none !important;
  }

}

.auto-height {
  height: auto !important;
  min-height: auto !important;
  max-height: auto !important;
}

.dashboard-panel {
  position: relative;
  display: block;
  padding: 20px 25px 25px 25px;
  margin-bottom: 35px;
}
.dashboard-panel > h1 {
  margin-bottom: 2px;
}
.dashboard-panel > p {
  margin: 0;
}
.card-counter {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 150px;
  height: 20px;
}
.card-counter > * {
  display: inline-block;
  height: 20px;
  width: 40px;
  font-size: 8px;
  line-height: 20px;
  margin-left: 5px;
}

.url-checker {
  position: absolute;
  right: 0.75rem;
  height: 45px;
  line-height: 45px;
}

.bottom-bar {
  width: 100%;
  padding-left: 5% !important;
  padding-right: 5%;
  position: fixed;
  bottom: 0;
  height: 56px;
  border-top: 1px solid #e2dfdf;
  z-index: 50;
}
.bottom-bar > li {
  height: 56px;
  display: block;
  text-align: center;
}
.bottom-bar a {
  margin: 10px 0 -5px 0px;
}
.bottom-bar p {
  margin: 0;
  font-size: 9px;
  letter-spacing: .5px;
}
.spinner-layer { border-color: black; }

#load-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
}
#onload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chips input {
  background: transparent !important;
}
.chips a.add {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #424242;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease-out;
  vertical-align: middle;
  width: 32px; }
  .chips a.add i {
    line-height: 32px; }
  .chips a.add:hover {
    opacity: 1 !important; }
  .chips.focus a.add {
    opacity: 0.6; }
@media only screen and (max-width : 800px) {
  .sidenav .user-view {
    padding: 32px 32px 0;
  }
  .feed-card .content {
    padding: 15px 0;
  }
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .wrapper-top-bottom {
    padding-top: 15px;
  }
  .container {
    width: 90% !important;
  }
  .container.on-plan {
    width: 100% !important;
  }
  .minimal .page {
    padding: 20px !important;
  }
  
  .minimal .page > .content {
    padding: 15px !important;
  }
  .card-counter {
    left: 3px;
    top: auto;
    width: calc(100% - 3px);
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-top: -25px;
    background: white;
    height: 26px;
    border-bottom: 1px solid #ddd;
  }
  .feed-card {
    margin-bottom: -15px;
    padding-bottom: 20px;
  }
  .card-counter > * {
    display: inline-block;
    height: 25px;
    width: 33%;
    font-size: 12px;
    line-height: 25px;
    margin-left: 0;
    text-transform: lowercase;
  }
  .card-counter > *.orange {
    display: none;
  }
  td .btn-small {
    width: 100%;
  }

}
@media only screen and (max-width: 992px) {  
  nav .brand-logo.left {
    position: absolute;
    left: 0;
  }
  nav .unread { right: 3px !important; }
  nav { padding: 0 5%; }
}

.banner {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  background: red;
}

.modal.modal-fixed-footer { max-height: 400px; }

.modal-content p>b:nth-of-type(1) {
  font-size: 26px;
}

.modal img {
  display: inline-block;
  margin-top: 15px;
  max-width: 100%;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
  border-radius: 0;
  margin-bottom: 5px;
}
.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat,
.btn, input, select, textarea {
  font-size: 12px !important;
  font-family: 'Poppins', sans-serif !important;
}

body .modal {
  box-shadow: none !important;
}

.modal .modal-footer {
  padding: 4px 50px;
  text-align: left;
}

.small-text {
  font-size: 12px;
}

td .btn-small {
  margin-bottom: 5px;
  min-width: 70px;
}

nav .unread {
  position: absolute;
  pointer-events: none;
  background: red;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  top: 9px;
  right: 25px;
  z-index: 2;
}

.notif-panel {
  padding: 0 !important;
  background-color: #fbfbfb;
}

.notif-panel.read {
  background-color: #f5f5f5;
}


.notif-panel time {
  font-size: 10px;
}

.notif-panel a{
  color: #424242;
  text-decoration: none;
}

.notif-panel span {
  display: block !important;
  padding: 20px 25px !important;
  line-height: 18px !important;
  font-size: 13px !important;
  border-bottom: 1px dashed #ddd;
  text-decoration: none;
}

.notif-panel.read * {
  color: #9c9c9c;
  background-color: transparent;
  text-decoration: none;
}

.rating-comments {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


.autocomplete-content {
  border: 1px solid #e0e0e0;
  border-top: none;
  box-shadow: none !important;
}

.autocomplete-content span {
  font-size: 13px !important;
}

#profile-nav {
  background: #f9f9f9;
}

.sidenav .divider { margin: 0 !important; }

.modal .material-placeholder {
  display: inline-block;
}


#img-wrap-box {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
#profile_pic {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider { background-color: #e2e2e2 !important; }

.darknav {
  background: #2d2d2d;
  z-index: 79999;
}
.darknav .material-icons,
.darknav a {
  color: white !important;
}

.un-pad { padding: 0 !important; }
.un-margin { margin: 0 !important; }

.feed {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  max-width: 770px;
}

.feed .card-image {
  position: relative;
  height: 200px;
  background: #f9f9f9;
  overflow: hidden;
}

.feed .card-image small {
  font-size: 13px;
}
.feed .card-content p {
  color: #797979 !important;
  font-size: 13px;
}

.feed .card-image img {
  top: 50% !important;
  transform: translateY(-50%);
}

.dashed {
  border: 1px dashed #e0e0e0;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.feed-wrap-main {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}
.feed-wrap-main::after {
  content: " ";
  display: table;
  clear: both;
}
.feed-wrap-main .m-tag {
  display: block;
  width: 70px;
  text-align: center;  
  text-transform: lowercase;
  padding-left: 5px;
  padding-right: 5px;

}


.feed-wrap-main .feed {
  float: left;
  width: 50%;
  padding: 0 15px;
  transition: all 0.5s;
}

.feed.hidden {
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
}

.card .card-content.on-dashboard {
  padding-left: 0 !important;
}

.card.feed.on-profile {
  padding-left: 0;
  width: 100%;
}
.card.feed.on-profile .card-content{
  background: #f9f9f9;
}

@media only screen and (min-width: 1450px) {  
  .feed-wrap-main .feed {
    float: left;
    width: 33.33333%;
  }
}

@media only screen and (max-width: 700px) {  
  /* .feed {
    border: 1px dashed #f2f2f2;
  } */
  .feed-wrap-main .feed {
    float: none;
    width: 100%;
    padding: 0;
  }
  .card .card-content.on-dashboard {
    padding: 24px !important;
  }

  
  .feed.hidden {
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
    padding: 0;
  }

  .feed-footer p, .feed-head > p:nth-of-type(1) {
    padding: 0 20px;
  }
  
}

.item-cart,
.this-timer {
  background: #f9f9f9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125) !important;
}


.this-timer.white,
.item-cart {
  background: white;
  box-shadow: none !important;
  border: 1px dashed #f2f2f2;
}

body tr,
.divider {
  border-bottom: 1px dashed #f2f2f2;
}
.divider {
  background-color: white !important;
  background: white !important;
}
.this-timer.ns {
  padding: 0 25px;
  box-shadow: none !important;
}
.panel-adjust{
  padding-top: 0px !important;
  margin-top: -40px !important;
}

@media only screen and (max-width : 800px) {
  body .page.panel-adjust{
    padding-top: 0px !important;
    margin-top: -20px !important;
  }
}
.this-timer img {
  display: block;
  margin: 0 auto !important;
  width: auto;
  height: 43px;
}

.this-timer i { line-height: 40px !important; }

.this-timer .time {
  width: 25%;
  display: block;
  text-align: center;
  float: left;
  padding: 25px 0;
}

.this-timer.dashed .time {
  border-right: 1px dashed #f2f2f2;
}
.this-timer .time.w-50 {
  width: 50%;
  text-align: left;
  border-left: 1px dashed #f2f2f2;
  padding-left: 25px;
}

.this-timer.ns .time{
  width: 100%;
}

.this-timer .time span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.this-timer.sm .time span {
  font-size: 13px;
}

.this-timer::after {
  content: " ";
  clear: both;
  display: table;
}

@media only screen and (max-width: 700px) {  
  .this-timer .time {
    padding: 15px 0;
  }
  .this-timer .time.w-50 {
    width: 75%;
    padding-left: 15px;
  }
}


body .btn,
body .btn-small {
  box-shadow: none !important;
}

.plan {
  position: relative;
  display: block;
  padding: 35px;
  background: #f9f9f9;
  text-align: center;
  margin-bottom: 30px;
  border: 1px dashed transparent;
}

.plan.active {
  border: 1px dashed #ff9800;
}

.plan .plan-title {
  font-weight: bold;
  font-size: 17px;
  display: block;
}

.plan-features {
  margin-bottom: 30px;
}

.plan-features li {
  padding: 0px 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
}

.plan-button {
  display: block;
  width: 100%;
  background: #ff9800;
  color: white;
  outline: none;
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: transparent;
  cursor: pointer;
}
body table.responsive-table th {
  text-align: left !important;
}
.modal {
  transform: none !important; 
  max-width: 740px;
  top: 5% !important;
  max-height: 94% !important;
  z-index: 5555555 !important;
}


.modal-sm {
  max-width: 440px;
}

@media only screen and (min-width: 10px) {  

  .paypal-button {
    border-radius: 0 !important;
    padding: 20px !important;
  }

}

.search.material-icons {
  vertical-align: middle;
  font-size: 21px;
}

button.btn.btn-xs {
  height: 20px;
  line-height: 20px;
  font-size: 10px !important;
}

.star-on-feed {
  height: 15px; margin-left: -2px;
}
.card .card-image .card-title {
  padding: 10px 24px !important
}

.card-tag-v {
  background: rgba(0,0,0,0.4) !important;
}

.no-p-m { padding: 0 !important; margin: 0 !important; }

body .toast {
  background: #8cdedc!important;
  background-color: #8cdedc!important;
}


body .toast .close {
  color: #fff !important;
}

body .submit,
body .btn {
  transition: all 0.2s;
}

body .btn-update,
body .data-delete:hover,
body .view-modal:hover,
body .file-field.input-field div.btn,
body .btn-secondary:not(.removeImage),
body .submit:hover,
body .btn:hover, body .btn-small:hover,
body .modal-close:hover {
  background: #34495e !important;
  background-color: #34495e !important;
  color: #ffffff !important;
}

body .pro-color {
  background: #fdb924;
  background-color: #fdb924;
}

body .dashboard-show:hover,
body .dashboard-show {
  background: white !important;
  color: #111 !important;
}

body *.sidenav-tag {
  margin-bottom: 25px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

body *.current-page {
  color: #fdb924 !important;
}


div.time label { text-transform: lowercase; }


@media only screen and (max-width : 800px) {

  body.minimal.blog .page {
    padding: 20px 0 !important;
  }

  body.minimal.blog .page > .content {
    padding: 15px 0 !important;
  }

  div.time label {
    font-size: 10px;
  }

}


.img-wrap {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  background: white;
  border: 3px solid white;
}

.img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}