html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f8fa;
}

.navbar-fixed {
  z-index: 99999;
}

.container {
  max-width: 655px !important;
}

.brand-logo > img {
  margin-top: 17px;
  height: 30px;
}

.sidenav .banner, 
.feed-card .content,
.feed-head, .feed-user-avatar,
.feed-image-wrapper, .feed-footer,
.wrapper, .wrapper-top-bottom,
.main, .footer {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  padding-right: 50px;
  padding-left: 50px;
}
.wrapper-top-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main, .footer {
  padding-left: 300px;
}
.valign {
  top: 50%;
  transform: translateY(-50%);
}
.sidenav .login {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-border { border: none; }
.sidenav input {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  max-width: 200px;
  font-size: 14px;
}
.sidenav input,
.sidenav .text { 
  width: 200px; line-height: 18px; }
.sidenav input:focus {
  outline: none;
}
.sidenav input,
.feed-user-avatar, 
.sidenav .banner a,
.feed-card { border-radius: 4px; }

.feed-card {
  margin-bottom: 35px;
}
.feed-head {
  width: 100%;
  min-height: 80px;
}

.feed-head > p:nth-of-type(1),
.feed-user-avatar {
  position: absolute;
  top: 14px;
}
.feed-user-avatar {
  left: 15px;
  background: #f9f9f9;
  width: 40px;
  height: 40px;
}

.feed-user-avatar > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.feed-head > p { margin: 0; }

.feed-footer p,
.feed-head > p:nth-of-type(1){
  left: 70px;
  line-height: 20px;
  font-size: 14px;
}
.feed-head > p:nth-of-type(1) > span{
  font-size: 12px;
}

.feed-image-wrapper {
  overflow: hidden;
  max-height: 50vh;
}
.materialboxed { width: 100%; }

.feed-card .content {
  padding: 15px 25px;
  padding-left: 70px;
  padding-right: 15px;
  padding-bottom: 35px;
  margin-top: -20px;
  max-height: 60px;
  overflow: hidden;
}

.feed-card .content,
.feed-card .content * {
  font-size: 14px;
  color: #424242 !important;
}
.feed-card .content::before,
.feed-card .content::after {
  position: absolute;
  display: block;
  content:  ' ';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: white;
}

.feed-card .content::before {
  width: 70px;
  bottom: 25px;
  right: 0;
  left: auto;
  content: ' . . .';
  padding-left: 10px;
}
.feed-footer {
  padding-top: 25px;
}

.sidenav .banner {
  height: 170px;
  background: red;
}

.sidenav .banner a {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width : 992px) {
  
  header, .main, footer {
    padding-left: 0;
  }
  .brand-logo > img {
    margin: 12px;
  }

}
@media only screen and (max-width : 600px) {
  
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    width: 100%;
  }

}