.full-screen {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.full-screen > div.form-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
}

.login-title,
.content {
    padding: 50px;
}
.login-title {
    padding-bottom: 15px;
}

.login-title p {
    margin: 0;
    font-size: 25px;
}